$tinyMinWidth: 320px
$smallMinWidth: 480px
$mediumMinWidth: 799px
$largeMinWidth: 900px
$jumboMinWidth: 1280px

$desktopHeight: 512px
// HIDPI Media Query
$hidpi: "print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi)"


$gr1: #7ec27e
$gr2: #699F69
$gr3: #598759
$gr4: #507C50
$gr5: #3b5b3b

$bl1: #6989FF
$bl2: #5471dc
$bl3: #3F5AB9
$bl4: #2D4499
$bl5: #1b317b

$gy1: #99A2A7
$gy2: #495257
$red: #C00001
$yel: #ffb412