$tinyMinWidth: 320px
$smallMinWidth: 480px
$mediumMinWidth: 799px
$largeMinWidth: 900px
$jumboMinWidth: 1280px


$tinyMaxWidth: ($smallMinWidth - 1)
$smallMaxWidth: ($mediumMinWidth - 1)
$mediumMaxWidth: ($largeMinWidth - 1)
$largeMaxWidth: ($jumboMinWidth - 1)

$desktopHeight: 512px
// HIDPI Media Query
$hidpi: "print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi)"


$gr1: #7ec27e
$gr2: #699F69
$gr3: #598759
$gr4: #507C50
$gr5: #3b5b3b

$bl1: #6989FF
$bl2: #5471dc
$bl3: #3F5AB9
$bl4: #2D4499
$bl5: #1b317b

$gya: #99A2A7
$gyb: #495257

$red: #C00001
$yel: #ffb412

$lu1: #9899FF
$lu2: #8284E6
$lu3: #767BC9
$lu4: #6666AA
$lu5: #484980

$rd1: #FF2E2D
$rd2: #FF0506
$rd3: #DC0100
$rd4: #C00001
$rd5: #960000

$pk1: #FFE1E1
$pk2: #FFB9B9
$pk3: #FF9191
$pk4: #FF6969
$pk5: #FF5554

$yl1: #FFC340
$yl2: #FFB412
$yl3: #EAA002
$yl4: #D69200
$yl5: #966600

$or1: #FF855A
$or2: #FF6633
$or3: #FF4A0A
$or4: #F03E00
$or5: #CE3500

